label.required::after {
    content: " *";
    color: red;
}

.logo-img {
    display: block;
    max-width: 128px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
}

.badge-custom {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
}

#custom-tabs-three-tab .nav-link,
#custom-tabs-three-tab .nav-link.active {
    color: #28a745 !important;
}

#custom-tabs-three-tab .nav-link.active {
    background-color: white !important;
    color: black !important;
    border-color: #ddd #ddd #fff;
}
